/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.


font-family: 'Roboto';
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Open Sans';
font-family: 'Spectral';
font-family: 'Slabo 27px';
font-family: 'Lato';
font-family: 'Roboto Condensed';
font-family: 'Oswald';
font-family: 'Source Sans Pro';
font-family: 'Raleway';
font-family: 'Zilla Slab';
font-family: 'Montserrat';
font-family: 'PT Sans';
font-family: 'Roboto Slab';
font-family: 'Merriweather';
font-family: 'Saira Condensed';
font-family: 'Saira';
font-family: 'Open Sans Condensed';
font-family: 'Saira Semi Condensed';
font-family: 'Saira Extra Condensed';
font-family: 'Julee', cursive;
font-family: 'Archivo';
font-family: 'Ubuntu';
font-family: 'Lora';
font-family: 'Manuale';
font-family: 'Asap Condensed';
font-family: 'Faustina';
font-family: 'Cairo';
font-family: 'Playfair Display';
font-family: 'Droid Serif';
font-family: 'Noto Sans';
font-family: 'PT Serif';
font-family: 'Droid Sans';
font-family: 'Arimo';
font-family: 'Poppins';
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Titillium Web';
font-family: 'Muli';
font-family: 'Sedgwick Ave', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Mada';
font-family: 'PT Sans Narrow';
font-family: 'Noto Serif';
font-family: 'Bitter';
font-family: 'Dosis';
font-family: 'Josefin Sans';
font-family: 'Inconsolata', monospace;
font-family: 'Bowlby One SC', cursive;
font-family: 'Oxygen';
font-family: 'Arvo';
font-family: 'Hind';
font-family: 'Cabin';
font-family: 'Fjalla One';
font-family: 'Anton';
font-family: 'Cairo';
font-family: 'Playfair Display';
font-family: 'Droid Serif';
font-family: 'Noto Sans';
font-family: 'PT Serif';
font-family: 'Droid Sans';
font-family: 'Arimo';
font-family: 'Poppins';
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Titillium Web';
font-family: 'Muli';
font-family: 'Sedgwick Ave', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Mada';
font-family: 'PT Sans Narrow';
font-family: 'Noto Serif';
font-family: 'Bitter';
font-family: 'Dosis';
font-family: 'Josefin Sans';
font-family: 'Inconsolata', monospace;
font-family: 'Bowlby One SC', cursive;
font-family: 'Oxygen';
font-family: 'Arvo';
font-family: 'Hind';
font-family: 'Cabin';
font-family: 'Fjalla One';
font-family: 'Anton';
font-family: 'Acme';
font-family: 'Archivo Narrow';
font-family: 'Mukta Vaani';
font-family: 'Play';
font-family: 'Cuprum';
font-family: 'Maven Pro';
font-family: 'EB Garamond';
font-family: 'Passion One', cursive;
font-family: 'Ropa Sans';
font-family: 'Francois One';
font-family: 'Archivo Black';
font-family: 'Pathway Gothic One';
font-family: 'Exo';
font-family: 'Vollkorn';
font-family: 'Libre Franklin';
font-family: 'Crete Round';
font-family: 'Alegreya';
font-family: 'PT Sans Caption';
font-family: 'Alegreya Sans';
font-family: 'Source Code Pro', monospace;
*/

.modal-dialog {
    max-width: 90%;
}

.cx-position{
    padding:5px;
}

.cx-theme{
    padding:5px;
}


.cx-height-10{
    height: 10px;
}
.cx-height-20{
    height: 20px;
}

.cx-height-25{
    height: 25px !important;
}

.cx-height-30{
    height: 30px;
}

.cx-height-40{
    height: 40px;
}

.cx-height-50{
    height: 50px;
}

.cx-width-10{
    width: 10px;
}

.cx-width-20{
    width: 20px;
}

.cx-width-30{
    width: 30px;
}

.cx-width-40{
    width: 40px;
}

.cx-width-50{
    width: 50px;
}

.cx-lineh-1{
    line-height: 1 !important;
}

.cx-span-label {
    line-height: 20px !important;
}

.cx-span-label small{
    font-weight: bold;
}

.CodeMirror {
    font-family: Arial, monospace;
    font-size: 16px;
}

.cx-size-mobile{
    width: 250px !important;  
}

.cx-size-tablet{
    width: 500px !important;   
}

.cx-size-laptop{
    width: 750px !important;
}

.cx-size-desktop{
    width: 1000px !important;
}

.cx-flex-fix{
    flex: 0 0 40px !important;
    padding:0 !important;
}

.cx-border{
    padding:0;
}

.cx-border-n-radius th, .cx-border-n-radius td{
    padding:2px;
}

.is_hidden::before {
    content:" [-Hidden-] ";
    display: block;
    color: white;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100 !important;
    background-color: rgba(255, 0, 0, .5);
}

.popover {
    max-width: 350px;
    width: 350px;
    z-index:1100;
}


.popover .nav-tabs .btn{
    padding:2px 5px;
    border-radius: 0;
    margin-right: 2px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.popover .popover-header {
    color:white;
}

.popover-bg-primary .popover-header {
    background-color: #007bff !important;
}

.popover-bg-primary  .arrow::after{
    border-bottom-color: #007bff !important;
}

.popover-bg-dark .cx-insert-options-btn {
    display:none;
}

.popover-bg-dark .popover-header {
    background-color: #343a40 !important;
}

.popover-bg-dark .arrow::after{
    border-bottom-color: #343a40 !important;
}

.popover-bg-warning .cx-insert-options-btn {
    display:none;
}

.popover-bg-warning .popover-header {
    background-color: #5CB85C !important;
}

.popover-bg-warning .arrow::after{
    border-bottom-color: #5CB85C !important;
}



/*xxxxxxxxxxxxxxxxxxxxxxxxxxxx Start Toolbar xxxxxxxxxxxxxxxxxx */
.cunifyadx-logo{
    float: left;
    border-right: 1px solid #eee;
    background: white;
}

.cunifyadx-logo img{
    height: 40px;
}

.cunifyadx-designer-top{
    height: 45px;
    border-bottom:1px solid #ddd;
    -webkit-box-shadow:0 8px 6px -6px  #ddd;
    -moz-box-shadow:0px 8px 6px -6px #ddd;
    box-shadow:0px 8px 6px -6px #ddd;   
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;
}


.cunifyadx-buttons{
    margin: 5px;
    background: white;
}

.cunifyadx-buttons .btn {
    margin-top: 2px;
}

.cunifyadx-buttons .cunifyadx-toolbar .btn-group{
    background: white;
    margin-right: 3px;
    border-right: 1px solid #ddd;
    border-radius: 0;
    padding-right: 3px;
}

.cunifyadx-buttons .cunifyadx-toolbar .btn-group .btn{
    margin-right: 0;
    border: 0;
    border-radius: 0;
}

.cunifyadx-buttons-save .btn{
    margin-top: 0;
}

.cunifyadx-buttons .btn-success{
    color:white !important;
}

.cunifyadx-buttons select{
    padding:0 !important;
}

.cunifyadx-tabs-bar{
    margin:2px;
    background: white;
}


.cunifyadx-tabs-bar .nav-item, .cunifyadx-logo .nav-item {
    padding:2px 5px;
    font-size: 14px;
    border-radius: 0;
}

.cunifyadx-tabs-bar .nav-tabs .active{
    border-top:2px solid #6cc24a;
}

.bg_color_single, .bg_gradient_single, .bg_texture_list_short img, #bg_textures_list img, .bg_images_list_short img, #bg_images_list img{
    height: 25px;
    width: 25px;
    float: left;
    margin: 1px;
}

#bg_image_list_result{
    column-count: 4;
    column-gap: 1px;
}

#bg_image_list_result img{
    width: 100%;
    height: auto;
}


.cunifyadx-tabs-bar .container, .cunifyadx-tabs-bar .col-sm-4, .cunifyadx-tabs-bar .col-sm-3{
    padding-right: 1px;
    padding-left: 7px;
}

.cunifyadx-designer-separator{
    height: 50px;
}

.sp-container {
    z-index: 1000;
}

.element_class_id{
    width:80%
}

.cx-card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    position: relative;
    width: 30px;
    text-align: center;
}

.cx-card input{
    display: inline-block;
    margin-top: 5px;
}


.cx-card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cx-card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cx-card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cx-card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cx-card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cx-card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.cunifyadx-buttons-save .dropdown-toggle::after {
    content: none;
}

.cunifyadx-buttons-save .dropdown-toggle .fa{
    color:white;
}

.cx-setting-form .form-group small{
    font-weight: bold;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxx End Toolbar xxxxxxxxxxxxxxxxxx */


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxx Start Canvas  xxxxxxxxxxxxxxxxxx */

h2.mce-content-body {
    font-size: 200%;
    padding: 0 25px 0 25px;
    margin: 10px 0 10px 0;
}

body {
    background-image: url('../img/transp_bg.png');
    background-attachment: fixed;
}

.content {
    overflow: visible;
    position: relative;
    width: auto;
    margin-left: 0;
    min-height: auto;
    padding: inherit;
}

.cunifyadx-designer{
    padding:5px;
    width: 80%;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    margin-bottom:40px;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}



.cunifyadx-designer .cunifyadx-hover{
    outline: 2px dotted #3b97e3 !important;
}
.cunifyadx-designer .cunifyadx-selected{
    outline:2px solid #3b97e3 !important;
}

.cunifyadx-button-add-element .btn{
    border-radius: 20px;
}
#insert_html_code  .design-canvas-section-form .section_positions {
    padding-left: 20px;
}

.cx-sidebar .card-columns, #insert_html_code .card-columns {
    column-count: 2;
}

#insert_html_code  .design-canvas-section-list .card-columns {
    column-count: 4;
    text-align: center;
}

.cx-sidebar .card-columns .card, #insert_html_code .card-columns .card{
    margin-bottom: 5px;
    border-radius: 0;
}

.cx-sidebar .card-columns img, #insert_html_code .card-columns img{
    max-width: 100%;
    height:auto;
}



.cx-sidebar .card-columns{
    column-count: 1;
    padding:5px;
}

.cx-alert{
    position: fixed !important;
    top:0;
    z-index: 10000;
    margin: 0 auto;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.cx-float-button{
    position: fixed;
    top: 44px;
    z-index: 100;
    display: block;
    background: #563D7C;
    height: 100vh;
    padding-top:7px;
    border-right: 1px solid #17a2b8;
}

.cx-float-button .cx-nav-link{
    display: block;
    padding: 3px;
    font-size: 15px;
    margin:3px;
    border-radius: 0;
    border:0;
}

.cx-float-button .cx-nav-link-active{
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 8px;
    background: white;
    color: #28a745 !important;
}

#google-font-list div{
    display:inline-block; 
    height:25px; 
    border:1px solid #eee; 
    margin:2px; 
    padding:2px !important; 
    font-size: 10px;
}


#advanced-features{
    position: fixed;
    top:44px;
    height: 100vh;
    left:54px;
    z-index: 1100;
    width: 350px;
    border: 1px solid #563D7C;
    border-left: 5px solid white !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #ffffff;
}

#advanced-features > div{
    width: 100%;
    background: #ffffff;
}

#advanced-features div img{
    width: auto;
}

#advanced-features .card-edit-link{
    margin-top:0px;
    position: absolute;
    right: 0;
    padding:0;
    background: white;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    border: 1px solid green;
    margin-right: 2px;
}

#advanced-features .card:hover .card-edit-link{
    display: block;
}

#advanced-features .record-list .img-uploading, #advanced-features .setting-list .img-uploading{
    width:40%;
}

#advanced-features .setting-list .col-sm-3, #advanced-features .record-list .col-sm-3{
    padding-left: 2px !important;
    padding-right: 0 !important;
    height: 100vh;
    padding-top:10px;
}

#advanced-features .setting-list .col-sm-3 a, #advanced-features .record-list .col-sm-3 a{
    padding-left: 5px !important;
    color:white;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#advanced-features .setting-list .col-sm-3 a.bg-white, #advanced-features .record-list .col-sm-3 a.bg-white{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#advanced-features .setting-list .row, #advanced-features .record-list .row{
    padding-right: 10px;
    padding-left: 10px;
}

#advanced-features .record-list, #advanced-features .setting-list, #advanced-features .themes-list, #advanced-features .sections-list, #advanced-features .htmls-list, #advanced-features .blocks-list{
    overflow-y: scroll;
    width: 100%;
    padding:5px;
    height: 87vh;
    border-top: 1px solid #DDD;
}

#advanced-features .theme, #advanced-features .section, #advanced-features .html, #advanced-features .block{
    padding:2px;
    position: relative;
    min-height: 25px;
    margin-top:5px;
    border-bottom: 1px dotted #DDD;
}

#advanced-features .theme img, #advanced-features .section img, #advanced-features .html img, #advanced-features .block img{
    max-width: 100%;
    height: auto;
}

#advanced-features  .cx-nav-link-close-div{
    font-size: 8px;
    margin-top: -35px;
    margin-right:3px;
}

#advanced-features h6{
    padding:5px;
    border:1px solid #EEE;
}

#advanced-features .cx-record-form h6, #advanced-features .cx-setting-form h6{
    padding-bottom: 0;
}

#advanced-features-block .cx-insert-options-btn, #advanced-features-theme .cx-insert-options-btn{
    display: none;
}

#advanced-features-block .card-columns, #advanced-features-theme .card-columns{
    column-count: 1;
}

#advanced-features-block .card-columns .card, #advanced-features-theme .card-columns .card{
    padding: 2px;
    min-height: 50px;
    max-height: 200px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#advanced-features-block .card-columns img, #advanced-features-theme .card-columns img{
    width:100%
}

.save-design-thumbnail-img{
    width:100%;
}

#save-design-thumbnail .cx-upload-close-popup{
    font-size: 8px;
    margin-top: -35px;
    margin-right:3px;
}

#save-design-thumbnail  a.save-design{
    position: relative;
    z-index: 1000;
    margin-top: -30px;
}

.cx-upload-thumbnail{
    padding: 4px 8px; 
    font-size: 18px;
}

.cx-toolbar-custom-btn{
    padding: 3px 8px;
}

.cx-toolbar-custom-btn:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.cx-toolbar-selected-bg{
    border: 1px dotted #ddd;
    height:15px; 
    width:15px; 
    background: red;
}

.cx-record-form .btn{
    margin-top: 5px;
    padding: 0 5px;
}

#dataPageFieldsModal .check{
    opacity:0.5;
    color:#996;
}

#dataPageFieldsModal .box{
    margin-bottom:5px;
}

#dataPageFieldsModal .page-grid-item{
    margin:5px;
    display: inline-block;
    width: 70px;
    text-align: center;
    border: 1px solid #dee2e6;
}

#dataPageFieldsModal .page-grid-item label{
    margin-bottom: 0; 
}

#dataPageFieldsModal .page-grid-item .img-thumbnail{
    border:none;
}

.modal.show .modal-dialog{
    margin-top:50px;
}

.add-record-form-wrapper .form-group{
    max-width: 300px; 
}

